@charset "utf-8";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
}

h1{
    color: white;
}

.calculator{
    background-color: white;
    width: 300px;
    padding: 20px;
    border-radius: 10px;
}

#display{
    width: 100%;
    height: 60px;
    border: none;
    border-radius: 6px;
    background-color: lightgray;
    text-align: right;
    font-size: 20px;
    margin-bottom: 15px;
}

.box-buttons{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 10px;
}

button{
    border: none;
    height: 50px;
    border-radius: 8px;
    font-size: 20px;
    font-weight: bold;
}

abbr{
    text-decoration: none;
}

button:hover{
    cursor: pointer;
    background-color: lightgray;
    border: 1px solid black;
}

.tecla0{
    grid-column: 1/3;
}

.resultado{
    grid-row: 4/6;
    height: 100%;
    grid-column: 4;
}