@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.container-slide{
    display: flex;
    justify-content: space-between;
    width: 50vw;
    height: 50vh;
    background-color:rgb(88, 88, 88) ;
    margin: 20vh auto;
    border-radius: 10px;
    box-shadow: 0 20px 30px black;
}

.container-items{
    position: absolute;
    display: flex;
    width: 50vw;
    height: 50vh;
    overflow: hidden;
}

.item{
    width: 50vw;
    height: 50vh;
    transition: all 0.8s;
}

.item:first-child{
    margin-left: -100%;
}

.item img{
    width: 50vw;
    height: 50vh;
    border-radius: 10px;
}

.action-button{
    font: bold 30px 'sans-serif';
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    color: #00000000;
    user-select: none;
    z-index: 1;
}

.action-button:hover{
    color: aliceblue;
    background-color: rgba(0, 0, 0, 0.473);
    cursor: pointer;
    transition: 0.8s;
}

