@charset "UTF-8";

*{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}

body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: lightgray;
}

.parent{
    width: 290px;
    height: 300px;
    perspective: 1000px;
}

.card{
    height: 100%;
    border-radius: 50px;
    cursor: pointer;
    background: linear-gradient(135deg, rgb(0, 255, 214) 0%, rgb(8, 226, 226) 100%);
    transition: all 0.4s ease-in-out;
    transform-style: preserve-3d;  
}

.glass{
    position: absolute;
    inset: 8px;
    border-radius: 55px;
    border-bottom: 1px solid white;
    border-left: 1px solid white;
    transform-style: preserve-3d;
}

.content{
    padding: 100px 60px 0px 30px;
    transform: translate3d(0,0,26px);
}

.title{
    display: block;
    color: #008489;
    font-weight: bold;
    font-size: 20px;
}

.text{
    display: block;
    color: #00897ec3;
    font-size: 15px;
    margin-top: 20px;
}

.bottom{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    bottom: 20px;
    left: 20px;
    right: 20px;
    padding: 10px 12px 10px 12px;
    transform-style: preserve-3d;
    transform: translate3d(0, 0, 26px); 
}
