@charset "utf-8";

body{
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
    background-color: lightgray;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.stopwatch-container{
    text-align: center;
    background-color: white;
    padding: 25px;
}

#stopwatch{
    font-size: 2.2em;
    margin-bottom: 17px;
    font-weight: bold;
}

button{
    cursor: pointer;
    padding: 10px;
    background-color: rgb(37, 77, 255);
    border: none;
    width: 70px;
    color: white;
    font-size: 1.08em;
    border-radius: 10px;
}

button:hover{
    background-color: lightblue;
    color: black;
    transition: 0.3s;
}