@charset "utf-8";

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color: inherit;
}

:root{
    --primary-color: #f7df1e;
    --secondary-color: #000;
}

body{
    height: 100vh;
    background-color: var(--secondary-color);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: var(--primary-color);
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    text-align: center;
    font-size: 3rem;
}

form{
    display: grid;
    place-content: center;
}

.preview-container{
    width: 300px;
    height: 300px;
    position: relative;
}


.preview-input{
    display: none;
}

.preview-label{
    width: 100%;
    height: 100%;
    position: absolute;
}

.preview-image{
    width: 100%;
    height: 100%;
}

.button-container{
    display: flex;
    justify-content: space-evenly;
    padding: 30px;
}

button{
    background-color: var(--primary-color);
    color: black;
    font-size: 1em;
    font-weight: bolder;
    padding: 10px;
    min-width: 100px;
    border-radius: 5px;
}

button:hover{
    background-color: white;
    border: 2px solid var(--primary-color);
    cursor: pointer;
}

footer{
    display: flex;
    justify-content: center;
    padding: 5px;
    gap: 5px;
    font-size: 1em;
    background-color: var(--primary-color);
    color: black;
}