@charset "UTF-8";

header, main{
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}

button{
    width: 100px;
    height: 40px;
    margin: 5px;
    font-size: 1em;
    font-weight: bold;
    background-color: black;
    color: aliceblue;
}

button:hover{
    background-color: aliceblue;
    color: black;
    border: 2px solid black;
    cursor: pointer;
}
